:root {
    --marrom-tranparente: #8E24240D;
    --branco: #FFFFFF;
    --preto: #000000;
    --marom: #8E2424;
    --cinza: #667085;
    --rosa-claro: #C3191908;
    --cinza-claro: #F9FAFB;
    --cinza-borda-input: #D0D5DD;
}